---
layout: layouts/home.njk
---
<p>He/him. I am a self-taught Frontend Developer from Spain who loves CSS, Vanilla JavaScript and creating good UX (User Experiences).</p>
<h2>Recent Posts</h2>
{% set maxPosts = collections.posts.length | min(10) %}
{% set postslist = collections.posts | head(-10) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>